body{
    text-align: justify;
    font-family: 'Merriweather', sans-serif;
    background-color: #d9d9d9;
    margin: 0%;
    padding: 0;
  
}
.citação{
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #557f8c
}

h2{
    color: #7d82b0;
    font-size: 40px;
    margin: auto;
    margin-bottom: 10px;
    padding: 0;

}

.subareas h2 {
    margin: auto;
    color: #7d82b0;
    font-size: 40px;
    margin-bottom: 10px;
    padding: 0;

}



p{
    margin-top: 0;
    line-height: 2;
}

p:last-of-type{
    margin-bottom: 0;
}

h3{
    color:#7d82b0;
    font-size: 22px;

}

section{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top:0;
    margin-bottom:10px;
    font-size: larger;
    
}

.correntesci {
line-height: 2;
list-style:disc

}

.subareas img {
    max-width: 100%;
    margin: auto; 
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0%;
    align-items: center;
    
}

.cabci{
    max-width: 100%;
    margin: 0;
    padding:0;
    width: 100vw;
    display:block; 
    max-height: 300px;
}

.linhaci{
    max-width: 100%;
    width: 100vw;
    margin: auto;
    margin-bottom: 30px;
    padding: 0;
    display:block
}

a{
    text-decoration: none;
    color:#7d82b0

}

.menu a {

    color: black;
    font-size: medium;
    text-align: center;
    text-decoration: underline;
    margin-right: 25px;
    margin-left: 0%;
    padding: 0%;
}
.menu {
    background-color: #7d82b0;
    height: 40px;
    max-width: 70%;
    margin: auto;
    margin-bottom: 40px;
    padding: 0%;
    nav ul {
  display: flex;
  gap: 20px;
}

.menu-toggle {
  display: none;
}

/* Responsivo (telas menores) */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  nav ul {
    display: none; /* escondemos o menu padrão */
    flex-direction: column;
    background: #f0f0f0;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
  }

  nav ul.active {
    display: flex; /* aparece quando clica no menu-toggle */
  }
}

}

.referencias{
    line-height: 1;
    margin:auto; 
   
}
.referencias p a {
 padding: 0%;

}
.form{
    margin-bottom: 20px;
    text-align: center;
}

h4{
    background-color: #7d82b0;
}

.form button{
    background: #7d82b0;



}
